@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    background: rgb(27, 27, 27);
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.icon {
    color: darkslategrey;
}

.text {
    color: black;
}

.navigation {
    position: fixed;
    width: 160px;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.navigation ul {
    position: relative;
    padding-top: 80px;
    padding-left: 25px;
    margin: 0;
}

.navigation li {
    position: relative;
    list-style: none;
    width: 150px;
    height: 250px;
    z-index: 1;
}

.navigation li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

li.active a .icon {
    transform: translateX(70px);
}

a .text {
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(50px);
}

li.active a .text {
    opacity: 1;
    transform: translateX(70px) translateY(30px);
}


/* INDICATOR */

.indicator {
    position: absolute;
    top: 100px;
    right: -60px;
    width: 100px;
    height: 100px;
    background: seagreen;
    box-sizing: border-box;
    border-radius: 50%;
    border: 12px solid rgb(27, 27, 27);
    transition: transform 0.5s;
}


/* INDICATOR CUTOUTS */

.indicator::before,
.indicator::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
}

.indicator::before {
    top: 82px;
    right: 45px;
    border-top-right-radius: 50px;
    box-shadow: 4px -10px 0 0 rgb(27, 27, 27);
}

.indicator::after {
    top: -26.5px;
    right: 45px;
    border-bottom-right-radius: 50px;
    box-shadow: 4px 10px 0 0 rgb(27, 27, 27);
}